[Desktop Entry]
Name=gLinks
Comment=Graphical links
Comment[pl]=Graficzny links
Exec=glinks
Terminal=0
Icon=links2.png
Type=Application
# vi: encoding=utf-8
