[Desktop Entry]
Name=gLinks
Comment=Graphical links
Comment[pl]=Graficzny links
Exec=links -g
Terminal=0
Icon=links.png
Type=Application
# vi: encoding=utf-8
